.pye{
    padding-top: 10vh;
    background-color: white;
    }
    .p2header{
    
    
      border:1px solid black;
    
    }
   
    .hii{
      
      font-weight:bolder;
    }
    .p3p{
      color: deeppink;
    }
    .p3p1{
    color: blue;
    }
    .p3p2{
      color: blue;
    }
     .nmr{
    padding-left: 10vh;
    
    }
    .p3{
     
      font-size: 20px;
    }
    .p3h{
      border: 1px solid black;
    }