.back{
    background-color: rgb(220, 213, 243);
    color: rgb(9, 9, 133);
    border: none;
}

.selected:hover{
    background-color:#c4dcf2 ;
    border-radius: 3px;
}
 .sidebar-item{
    background-color:#c4dcf2 ;
    border-radius:3px;
  } 

.position-absolute{
   bottom: 30px;
}
.company-icon-color{
color:  darkorange;
}
.button{
padding-left:6px;
}