.pye{
    padding-top: 10vh;
    background-color: white;

    }
    .p2header{
    
    
      border:1px solid black;
    
    }
    .aaa{

      box-shadow: white;
    } 
   
   .color{
    background-color: aliceblue
   } 
   
   .hii{
      
      font-weight:bolder;
      }
    
   
    .pl-10vh{
    padding-left: 10vh;
  
    }

 
    .p3{
     
      font-size: 20px;
    }
    .p3h{
      border: 1px solid black;
    }
  
    .p22{
        color: brown;
        font-weight: bolder;
    }
    .p23{
        color: mediumblue;
        font-weight: bold;
    }
