.sidebar{
  width:18%;
  min-width:180px ;
  
  background-color:aliceblue;

}
.main{
  width:100% ;
  background-color:rgb(238, 241, 244);
}
.head{
  background-color: aliceblue;
  height: 13vh;
}
.maindata{
  display: flex;
  justify-content: space-between;
  
  
}
.icondata{
  font-size: 20px;
  color: blue;
 
}

.widthinc{
  height: 10vh;
 
}
.data{
  display: flex;
  justify-content: space-between;
  width: 95vw;

}
.buttonClass{
  width: 15vw;
 
}

.updatedata{
  background-color: rgb(7, 194, 7);
  border: 3px solid green;
  color: white;
  
}



.postdata{
  width: 250px;
  height: 400px;
}
.imagedata{
  font-size: 30px;
}
.addressdata{
  color: darkgreen;
  
}
.w{
 height: 8vh;
 background-color: blanchedalmond;
}
.tabledata{
  width: 100%;
  
}
