.maindata-content{
    display: flex;
    justify-content: space-between;
    
    background-color: white;
  }
  .houer-color{
    background-color: white;
  }
  .houer-colordata{
    background-color: white;
    
  }
  
  