.maindata-button{
    display: flex;
    justify-content: space-between;
    background-color: white;
    
    
  }
  .icondata{
    font-size: 17px;
    color: blue;
   
  }
  
  
  .data{
    display: flex;
    justify-content: space-between;
    
  
  }
  
  .widthinc{
    background-color: white;
    width: 60vw;
  }
 .w{
   height: 8vh;
   
  }
  .tabledata{
    width: 100%;
    background-color: white;
    overflow: auto;
    
  }
  .styles-height{
    height: 8vh;
  }

  .company-Carddata{
    width: 300px;
    height: 300px;
  }
  .Card-data{
    background-color: white;
  }
  .company-Carddata:hover{
    background-color:#d3d9ec;
   
  }

  
  /* .invisible:hover{
    background-color: #d3d9ec;

    visibility: visible !important;
   
  } */
  .Company-NotFound{
    font-size: 30px;
    margin-top: 10%;
    
    color: rgb(255, 0, 0);
  }
  .update{
    visibility: hidden;
  }
  .visibleButton:hover .update{
    visibility: visible;
  }

 