.maindata-button{
    display: flex;
    justify-content: space-between;
    background-color: white;
    
    
  }
  .icondata{
    font-size: 17px;
    color: blue;
   
  }
  
  
  .data{
    display: flex;
    justify-content: space-between;
    
  
  }
  
  .widthinc{
    background-color: white;
    width: 53vw;
  }
 .w{
   height: 8vh;
   
  }
  .tabledata{
    width: 100%;
    background-color: white;
    overflow: auto;
    
  }
  .styles-height{
    height: 9vh;
  }
  