.logo {
  width: 150px;
}

.dash {
  font-size: 35px;
  color: rgb(3, 3, 188);
  margin: 13px;
  cursor: pointer;
}
.view-notification {
  font-size: 25px;
  margin: 22px;
}
.view{
  cursor: pointer;
}
.round {
  width: 50px;
  height: 50px;
}
.header-rightmenu {
  flex-grow: 1 ;
}
.bg {
  background-color: aliceblue;
}
.dropdown-style:hover {
  background-color: rgb(168, 208, 243);
  border-radius: 3px;
}
.dropdown-menu {
  background-color: rgba(240, 248, 255, 0.933);
}
.drop-menu{
  width: 320px ;
}
.dropdown-top{
  position: sticky;
  height: 3vh;
  top: 0;
}
.dropdown-bottom{
  position: sticky;
  border: none;
  height:6vh;
  bottom: 0;
}
 .horizantal-line{
  border-bottom:1px solid rgb(217, 215, 215);
 }
 .bell-notification-style{
   border: none;
   background-color: aliceblue;
 }
 .bell-notification-style:hover{
  background-color: rgb(213, 216, 219);
 }