

.image {
    width: 140px;
    height: 98px;
   
    margin-top: 10px;
    border: none;
}


.paysliptitle {
    border: none !important;
}

.payslipbodydatatext {

    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    margin: auto;
}

.overallwidth-80{
    width: 81%;
}
