.height {
    height: auto;
    width: 75%;
    /* background-color:#006699; */

    background-color: white;
    
}
  

  .ht {
    height: 550px;
    width: 75%;
    background-color:white
    

    
  }

  .ml{
    margin-left: 300px;
  }
  
  .space{
    margin-inline-start: 75px;
  }

  .Goback{
    margin-bottom: 20px;
  }

 